$gradient-first: #65dbcf;
$gradient-second: #6cdbed;


.navbar {
    background-image: linear-gradient(
      to right,
      $gradient-first,
      $gradient-second
    );
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 5px;
}

.container {
    padding: 10px 20px 10px 20px;

    mat-form-field {
        margin-left: 20px;
        width: 220px;
    }

    .valid-form {
        mat-form-field {
            margin-top: 40px;
        }
    }
}

.addSpecialization {
    width: 100%;
  }