<div class="container">

    <img class="img-login">

    <div class="rest-login">
        <div class="signup-form">

            <h1 class="title">Zaloguj się</h1>

            <form [formGroup]="form">
                <mat-form-field appearance="fill" color="accent">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
    
    
                <mat-form-field appearance="fill" color="accent">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </form>
            

            <button mat-button (click)="login()" [disabled]="!form.valid">Zaloguj się</button>

            <br>
      
            <p>Nie masz konta <a routerLink="/signup">zarejestruj się</a>!</p>

          </div>
    </div> 
</div>