$gradient-first: #65dbcf;
$gradient-second: #6cdbed;

.navbar {
  background-image: linear-gradient(
    to right,
    $gradient-first,
    $gradient-second
  );
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  color: white;

  .logout {
    color: white;

    button {
      font-size: 16px;
      color: white;
      background: none;
      text-decoration: none;
      border: none;

      &:hover {
        color: #eeeeee;
      }
    }
  }
}



mat-drawer {
  width: 20vw;
  font-size: 2rem;
  text-align: center;
  
  
  ul { 
    list-style-type: none;

    li {
      margin: 50px;

      button {
        background: #eeeeee;
      }
    }
  }

}

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .example-element-diagram {
    max-width: 200px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 100%;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 25px;
    line-height: normal;
  }
  
  .example-element-description {
    width: 500px;
    height: 100px;
    word-wrap: break-word;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .btns-edit {
    justify-self: flex-end;
    display: flex-wrap;
    justify-content: flex-end;
  }

  .btn {
      background: #eeeeee;
      margin: 10px;
  }

  .example-element-name {
    word-wrap: break-word;
  }