$gradient-first: #65dbcf;
$gradient-second: #6cdbed;

.navbar {
  background-image: linear-gradient(
    to right,
    $gradient-first,
    $gradient-second
  );
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  color: white;

  .logout {
    color: white;

    button {
      font-size: 16px;
      color: white;
      background: none;
      text-decoration: none;
      border: none;

      &:hover {
        color: #eeeeee;
      }
    }
  }
}

.container {
  display: flex;
  height: 90vh;

  .menu {
    width: 20vw;
    font-size: 2rem;
    text-align: center;
    border-right: 1px solid #eeeeee;

    ul {
      list-style-type: none;

      li {
        margin: 50px;

        button {
          background: #eeeeee;

          &:hover {
            background: linear-gradient(to right, $gradient-first, $gradient-second);
          }
        }
      }
    }
  }

  .specialists {
    width: 100%;

    table {
      width: 100%;
    }

    tr.detail-row {
      height: 0;
    }

    tr.element-row:not(.example-expanded-row):hover {
      background: whitesmoke;
    }

    tr.element-row:not(.example-expanded-row):active {
      background: #efefef;
    }

    .element-row td {
      border-bottom-width: 0;
    }

    .element-detail {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .element-diagram {
      max-width: 200px;
      border: 2px solid black;
      padding: 8px;
      font-weight: lighter;
      margin: 8px 0;
      height: 100%;
    }

    .element-symbol {
      font-weight: bold;
      font-size: 25px;
      line-height: normal;
    }

    .element-description {
      width: 500px;
      height: 100px;
      word-wrap: break-word;
    }

    .element-description-attribution {
      opacity: 0.5;
    }

    .btns-edit {
      justify-self: flex-end;
      display: flex-wrap;
      justify-content: flex-end;
    }

    .btn {
      background: #eeeeee;
      margin: 10px;

      &:hover {
        background: linear-gradient(to right, $gradient-first, $gradient-second);
      }
    }

    .element-name {
      word-wrap: break-word;
    }
  }
}