<div class="nodeadlines" *ngIf="dateList.length == 0"><h1>Brak terminów</h1></div>
    <div class="timetable">
      <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" color="accent">
          <mat-tab *ngFor="let date of dateList; let index = index" [label]="date">
  
              <mat-selection-list #hours [multiple]="false">
                  <mat-list-option *ngFor="let appointment of DATA[date]" [value]="appointment">
                      <mat-grid-list cols="4" rowHeight="4:1">
                          <mat-grid-tile><b>{{appointment.hour}}</b></mat-grid-tile>
                          <mat-grid-tile><span>Doktor: <b>{{appointment.name}}</b></span></mat-grid-tile>
                          <mat-grid-tile>Miasto: {{appointment.city}}</mat-grid-tile>
                          <mat-grid-tile><button mat-stroked-button color="accent" (click)="cancelAppointment(appointment)">Odwołaj</button></mat-grid-tile>
                      </mat-grid-list>
                  </mat-list-option>
              </mat-selection-list>
          </mat-tab>
      </mat-tab-group>
    </div>  