<div class="container">

	<h1><b>{{doctorName}}</b></h1>
  <h1>ID: {{doctorId}}</h1>

  <button mat-button class="btn-add" (click)="addSchedule()">Dodaj terminy</button>

  <div class="timetable">
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
        <mat-tab *ngFor="let date of dateList; let index = index" [label]="date">

            <mat-selection-list #hours [multiple]="false">
                <mat-list-option *ngFor="let appointment of DATA[date]" [value]="appointment">
                    <mat-grid-list cols="4" rowHeight="4:1">
                        <mat-grid-tile><b>{{appointment.hour}}</b></mat-grid-tile>
                        <mat-grid-tile>Pacjent: {{appointment.patient}}</mat-grid-tile>
                        <mat-grid-tile>{{appointment.description}}</mat-grid-tile>
                        <mat-grid-tile><button mat-button><mat-icon>delete</mat-icon></button></mat-grid-tile>
                    </mat-grid-list>
                </mat-list-option>
            </mat-selection-list>
        </mat-tab>
    </mat-tab-group>
  </div>  
</div>
