
<div class="container">


    <div class="navbar">
        <h1><b>{{doctorName}}</b></h1>
        <a>ID: {{doctorId}}</a>
        <button mat-button class="btn-add" (click)="addSchedule()">Dodaj terminy</button>
    </div>

  <div class="timetable">
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
        <mat-tab *ngFor="let date of dateList; let index = index" [label]="date">

            <mat-selection-list #hours [multiple]="false">
                <mat-list-option *ngFor="let appointment of DATA[date]" [value]="appointment">
                    <mat-divider></mat-divider>
                    <mat-grid-list cols="4" rowHeight="4:1">
                        <mat-grid-tile><b>{{appointment.hour}}</b></mat-grid-tile>
                        <mat-grid-tile>Pacjent: {{appointment.name}}</mat-grid-tile>
                        <mat-grid-tile>{{appointment.description}}</mat-grid-tile>
                        <mat-grid-tile><button mat-button (click)="deleteSchedule(appointment)"><mat-icon>delete</mat-icon></button></mat-grid-tile>
                    </mat-grid-list>
                    
                </mat-list-option>
            </mat-selection-list>
        </mat-tab>
    </mat-tab-group>
  </div>  
</div>
