$gradient-first: #65dbcf;
$gradient-second: #6cdbed;

.container {
  display: flex;
}

.input-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;

  h1 {
    background: linear-gradient(to right, $gradient-first, $gradient-second);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 5px;
  }

  .form-field {
    mat-form-field {
      margin-right: 20px;
      width: 300px;
    }

    .selection {
      opacity: 0.75;
      font-size: 0.75em;
    }
  }

  .datapicker {
    mat-form-field {
      width: 620px;
      margin-top: 20px;
    }
  }

  .btn-search {
    background: #eeeeee;
    width: 90px;
    height: 45px;

    &:hover {
      background: linear-gradient(to right, $gradient-first, $gradient-second);
    }
  }

  .text-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    padding: 10px;
    .text-field-a {
      width: 45%;

      mat-icon {
        margin-right: 10px;
        background: linear-gradient(
          to right,
          $gradient-first,
          $gradient-second
        );
        background-clip: text;
        color: transparent;
      }
      p {
        opacity: 0.6;
        word-wrap: break-word;
      }
    }

    .text-field-b {
      width: 45%;
      mat-icon {
        margin-right: 10px;
        background: linear-gradient(
          to right,
          $gradient-first,
          $gradient-second
        );
        background-clip: text;
        color: transparent;
      }
      p {
        opacity: 0.6;
        word-wrap: break-word;
      }
    }
  }
}

.img-specialist {
  width: 50%;
}
