$gradient-first: #65dbcf;
$gradient-second: #6cdbed;


.navbar {
    background-image: linear-gradient(
      to right,
      $gradient-first,
      $gradient-second
    );
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

mat-form-field {
    width: 100%;
}