<mat-toolbar class="navbar">
    <ul>
      <li>
        <a routerLink="pacjent" routerLinkActive="active">STREFA PACJENTA</a>
      </li>
      <li>|</li>
      <li>
        <a routerLink="lekarz" routerLinkActive="active">STREFA LEKARZA</a>
      </li>
    </ul>
    <div class="login" *ngIf="!login_status">
      <a routerLink="../signup" routerLinkActive="active">Zarejestruj się</a>
      <span> | </span>
      <a routerLink="../login" routerLinkActive="active">Zaloguj się</a>
    </div>

    <div class="logout-user" *ngIf="role==='patient'">
      <button routerLink="myappointment" routerLinkActive="active">Moje wizyty</button>
      <span> | </span>
      <button routerLink="" routerLinkActive="active" (click)="logout()">Wyloguj się</button>
    </div>

    <div class="logout" *ngIf="role==='doctor'||role==='admin'">
      <button routerLink="" routerLinkActive="active" (click)="logout()">Wyloguj się</button>
    </div>

  </mat-toolbar>
  
  <router-outlet></router-outlet>